* {
    font-family: "Microsoft JhengHei", sans-serif;
}

main {
    width: 100%;
    height: 100%;
}

h1 {
    margin-left: 20px;
}

p {
    margin-left: 20px;
    font-size: 13px;
}

table {
    margin: 25px auto;
    border-collapse: collapse;
    border-spacing: 0 10px;
    width: 90%;
    table-layout: fixed;
}

thead tr {
    margin-bottom: 100px;  
}

th {
    border-bottom: 1px solid black;   
    padding: 8px;
    text-align: center;
    font-size: 14px;
}

tbody {
    margin-top: 4px;
}

tr {
    text-align: center;
    font-size: 13px;
    margin: 8px auto;
}

td {
    padding: 7px;
    border-bottom: 1px solid lightslategray;   
}

.tableRow {
    background-color: white;
}

.tableRowAlternate {
    background-color:rgb(237, 237, 237);
}

.delivery {
    color: green;
}


.collection {
    color: red
}